<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review people</title>
</head>
<body>

<h1>Review</h1>
<br>
id: <a th:text="${people.getId()}">VALUE</a>
<br>
name: <a th:text="${people.getName()}">VALUE</a>
<br>
year of birth: <a th:text="${people.getYear()}">VALUE</a>
<br>
<br>
<form th:action="@{/people/{id}/edit (id=${people.getId()})}">
    <input type="submit" value="edit">
</form>
<br>
<br>
<form th:method="DELETE" th:action="@{/people/{id}/delete(id=${people.getId()})}">
    <input type="submit" value="delete">
</form>
</body>
</html>