<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<h1>Edit Book</h1>
<form th:method="PATCH" th:action="@{/book/{id}/edit(id=${book.getId()})}" th:object="${book}">
    <lable for="name">Enter new name: </lable>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <br>
    <lable for="author">Enter new author: </lable>
    <select th:field="*{author}" id="author">
        <option th:each="author : ${author_list}" th:value="${author.getId()}" th:text="${author.getName() + ', ' + author.getYear()}"></option>
    </select>
    <br>
    <br>
    <lable for="year">Enter new year: </lable>
    <input type="text" th:field="*{year}" id="year">
    <br>
    <br>
    <input type="submit" value="edit">
</form>

</body>
</html>