<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'book:' + book.getName()}"></title>
</head>
<body>

<h1>New Book</h1>

<form th:method="POST" th:action="@{/book/new}" th:object="${book}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name">
  <br>
  <br>
  <label for="author">Enter author: </label>
  <select th:field="*{author}" id="author">
    <option th:each="author : ${author_list}" th:value="${author.getId()}" th:text="${author.getName() + ', ' + author.getYear()}"></option>
  </select>
  <br>
  <br>
  <label for="year">Enter year: </label>
  <input type="text" th:field="*{year}" id="year">
  <br>
  <br>
  <input type="submit" value="add">
</form>

</body>
</html>